
/* li{
  display: flex;
  justify-content: space-around;

} */
.input{
  width: 60%;
  margin: 0 auto;
  input{
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  i{
    font-size: 1.3rem;
    margin-right: 0.3rem;
  }
  button{
    font-size: 1.3rem;
    cursor: pointer;
    background-color: rgb(45, 200, 45);
    border:  solid rgb(45, 200, 45);
    border-radius: 5%;
    margin-left: 0.3rem;

  }
  button:hover{
    background-color: rgb(4, 93, 4);
    color: white;
    border:  solid rgb(4, 93, 4);
    transform: scale(110%);
    box-shadow: 5px 5px 5px black;
  }
}
.pagina{
  width: 80%;
  margin: 0 auto;
  input{
    cursor: pointer;
  }

  ul{
    font-size: 2rem;
    padding: 1rem;
    margin: 0 auto;
    border-bottom: 1px dashed black;

    button{
      font-size: 1.5rem;
      background-color: rgb(226, 37, 37);
      border-radius: 10%;
      border: none;
    }
    button:hover{
      background-color: rgb(145, 13, 13);
      color: white;
      box-shadow: 5px 5px 5px black;
      transform: scale(110%);
      cursor: pointer;
    }
  }

  .rigato{
    text-decoration: line-through;
  }


}
